Repository rossigee/provider-namecheap: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, go-test, no-commit-secrets

go-generate:
  name: go generate
  entry: make generate
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: make test
  language: system
  pass_filenames: false

no-commit-secrets:
  name: Check for secrets
  ...

Fix image push problems. Bump versions.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitmodules
  Makefile
  cmd/provider/main.go
  go.mod
Due: go-generate, go-test, no-commit-secrets

Fix provider package image reference
  package/crossplane.yaml
Due: no-commit-secrets

Update documentation and CI for v0.5.3 release
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
  docs/production-improvements.md
  docs/webhook-setup.md
Due: no-commit-secrets

Upgrade to Go 1.26.3, golangci-lint 2.12.2, crossplane-runtime v2.3.1
  .github/workflows/release.yml
  Makefile
  apis/v1beta1/dnsrecord_types.go
  apis/v1beta1/domain_types.go
  apis/v1beta1/groupversion_info.go
  apis/v1beta1/providerconfig_types.go
  apis/v1beta1/sslcertificate_types.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  cmd/provider/main.go
  go.mod
  go.sum
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
Due: go-generate, go-test, no-commit-secrets

Sync with parent repo changes
  AGENTS.ms
  Makefile
  README.md
  go.mod
  go.sum
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
Due: go-generate, go-test, no-commit-secrets

chore: Update CI/CD tools to latest stable versions
  .github/workflows/ci.yml
Due: no-commit-secrets

fix: correct corrupted GitHub action versions
  .github/workflows/ci.yml
Due: no-commit-secrets

fix: Add explicit GitHub token to checkout steps for submodule access
  .github/workflows/ci.yml
Due: no-commit-secrets

deps: update Go to 1.26.4 and patch vulnerability dependencies
  go.mod
  go.sum
Due: none

deps: upgrade crossplane-runtime to v2.3.2
  go.mod
  go.sum
Due: none

chore: update workflows - standardize Go 1.26.4, github.token auth, ubuntu-24.04, merge codeql to security
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  scripts/check.sh
  scripts/introspect.sh
  scripts/release.sh
Due: no-commit-secrets

fix: update codeql-action to v4
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: no-commit-secrets

chore: pin golangci-lint to 2.12.2
  .github/workflows/ci.yml
Due: no-commit-secrets

chore: update golangci-lint to 2.12.2
  .github/workflows/ci.yml
Due: no-commit-secrets

fix: upgrade crossplane-runtime to v2.3.2 and update import paths
  go.mod
  go.sum
Due: none

fix: upgrade to crossplane-runtime v2.3.2 and update all imports
  apis/v1beta1/dnsrecord_types.go
  apis/v1beta1/domain_types.go
  apis/v1beta1/providerconfig_types.go
  apis/v1beta1/sslcertificate_types.go
  apis/v1beta1/types.go
  cmd/provider/main.go
  go.mod
  go.sum
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
Due: go-generate, go-test, no-commit-secrets

fix: update to v2 API type names
  apis/v1beta1/dnsrecord_types.go
  apis/v1beta1/domain_types.go
  apis/v1beta1/sslcertificate_types.go
Due: go-generate, go-test, no-commit-secrets

fix: complete v2.3.2 API refactoring for namespaced resources
  CLAUDE.md
  Makefile
  apis/v1beta1/dnsrecord_types.go
  apis/v1beta1/domain_types.go
  apis/v1beta1/sslcertificate_types.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
  package/crds/namecheap.m.crossplane.io_dnsrecords.yaml
  package/crds/namecheap.m.crossplane.io_domains.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigs.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigusages.yaml
  package/crds/namecheap.m.crossplane.io_sslcertificates.yaml
Due: go-generate, go-test, no-commit-secrets

fix: install crossplane-cli for xpkg build
  .github/workflows/release.yml
Due: no-commit-secrets

fix: init build submodule before installing tools
  .github/workflows/release.yml
Due: no-commit-secrets

fix: manually install crossplane-cli for xpkg build
  .github/workflows/release.yml
Due: no-commit-secrets

fix: use underscore in platform path
  .github/workflows/release.yml
Due: no-commit-secrets

fix: use v2.3.2 crossplane CLI
  .github/workflows/release.yml
Due: no-commit-secrets

chore: use rossigee/build with v2.3.2 crossplane CLI
  .gitmodules
Due: none

fix: use simpler release workflow pattern
  .github/workflows/release.yml
  cluster/images/provider-namecheap/Dockerfile
Due: no-commit-secrets

chore: migrate EventRecorder + fix lint, tests, logging
  go.mod
  go.sum
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
  vendor/github.com/crossplane/crossplane-runtime/v2/pkg/event/event.go
  vendor/modules.txt
Due: go-generate, go-test, no-commit-secrets

Fix lint: add Group/Version constants, register GroupVersion in init, v2 migration
  apis/v1beta1/dnsrecord_types.go
  apis/v1beta1/domain_types.go
  apis/v1beta1/groupversion_info.go
  apis/v1beta1/providerconfig_types.go
  apis/v1beta1/register.go
  apis/v1beta1/sslcertificate_types.go
  apis/v1beta1/types.go
  cmd/provider/main.go
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
Due: go-generate, go-test, no-commit-secrets

Sync CRDs: make reviewable output
  package/crds/namecheap.m.crossplane.io_domains.yaml
Due: no-commit-secrets

build: upgrade Go to 1.26.5, add govulncheck to reviewable
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: no-commit-secrets

Path conditions:
  go-generate: any of: \.go$
  go-test: any of: \.go$
  no-commit-secrets: any of: \.(go|yaml|yml|json|md|sh|env)$, but not: ^(examples/.*\.yaml)$
