Repository rossigee/provider-namecheap: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, go-test, no-commit-secrets

go-generate:
  name: go generate
  entry: make generate
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: make test
  language: system
  pass_filenames: false

no-commit-secrets:
  name: Check for secrets
  ...

chore: bump to v0.5.12
  VERSION
Due: none

feat(metrics): wire statemetrics MRStateMetrics for Ready/Synced counts
  cmd/provider/main.go
Due: go-generate, go-test, no-commit-secrets

fix(ci): bump deprecated actions, remove non-existent docker.build
  .github/workflows/ci.yml
Due: no-commit-secrets

feat: add ManagementPolicies support (Observe)
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
Due: go-generate, go-test, no-commit-secrets

chore: upgrade auto-merge workflow to use github-script v9
  .github/workflows/auto-merge.yml
Due: no-commit-secrets

fix: add missing build steps to release workflow
  .github/workflows/release.yml
Due: no-commit-secrets

fix: add build.init to release workflow
  .github/workflows/release.yml
Due: no-commit-secrets

fix: use two-job release workflow
  .github/workflows/release.yml
Due: no-commit-secrets

fix: manually install Crossplane CLI in publish job
  .github/workflows/release.yml
Due: no-commit-secrets

fix: use correct CLI download URL
  .github/workflows/release.yml
Due: no-commit-secrets

fix: correct crossplane CLI download URL with ?source=build
  .github/workflows/release.yml
Due: no-commit-secrets

fix: reliable go install for crank v2.5.0 from our fork
  .github/workflows/release.yml
Due: no-commit-secrets

fix: restore clean two-job release workflow with v2.5.0 go install from fork
  .github/workflows/release.yml
Due: no-commit-secrets

fix: remove manual CLI install; let make from fork handle v2.5.0 download
  .github/workflows/release.yml
Due: no-commit-secrets

fix: embed package.yaml in provider image
  cluster/images/provider-namecheap/Dockerfile
  cluster/images/provider-namecheap/Makefile
Due: none

fix: repair tab indentation in multiarch publish block
  cluster/images/provider-namecheap/Makefile
Due: none

fix: pre-install Crossplane CLI before publish
  .github/workflows/release.yml
Due: no-commit-secrets

chore: unify skip-duplicate-actions at floating v5
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: no-commit-secrets

fix: add Crossplane CLI v2.5.0 curl install to release workflow
  Makefile
Due: none

Sweep pre-v2 references, document coverage gaps
  CLAUDE.md
  README.md
  examples/dnsrecord.yaml
  examples/domain.yaml
Due: no-commit-secrets

fix: update codecov action parameter from file to files
  .github/workflows/ci.yml
Due: no-commit-secrets

chore(ci): bump GitHub Actions to latest major versions
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: no-commit-secrets

fix: standardize release.yml on canonical single-job template
  .github/workflows/release.yml
Due: no-commit-secrets

fix: standardize release.yml on canonical single-job template (#8)
  .github/workflows/release.yml
Due: no-commit-secrets

fix: add explicit xpkg.build step before publish
  .github/workflows/release.yml
  VERSION
Due: no-commit-secrets

fix: add missing build step to release.yml (#9)
  .github/workflows/release.yml
  VERSION
Due: no-commit-secrets

chore: normalize workflows to 2026-09-08 templates + publishing overrides
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
Due: no-commit-secrets

fix: align security.yml to current template (Go 1.27.1 + AGPL-3.0)
  .github/workflows/security.yml
Due: no-commit-secrets

chore: update to latest 2026-09-08 templates + Go 1.27.1 + AGPL (pre-existing drift)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: no-commit-secrets

Path conditions:
  go-generate: any of: \.go$
  go-test: any of: \.go$
  no-commit-secrets: any of: \.(go|yaml|yml|json|md|sh|env)$, but not: ^(examples/.*\.yaml)$
