Repository rossigee/provider-namecheap: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, go-test, no-commit-secrets

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: detect-private-key
        exclude: ^(examples/.*\.yaml)$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.61.0
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-vet-mod
      - id: go-mod-tidy

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore=DL3008, --ignore=DL3009]

  - repo: local
    hooks:
      - id: go-generate
        name: go generate
        entry: make generate
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: go test
        entry: make test
        language: system
        files: \.go$
        pass_filenames: false

      - id: no-commit-secrets
        name: Check for secrets
        entry: |
          python3 -c "
          import sys
          import re

          secret_patterns = [
              r'(?i)(password|passwd|pwd)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(api[_-]?key|apikey)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(secret[_-]?key|secretkey)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(access[_-]?token|accesstoken)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(auth[_-]?token|authtoken)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(namecheap[_-]?token|namecheap[_-]?key)\s*[=:]\s*[\"\']\w+[\"\']\s*',
          ]

          for filename in sys.argv[1:]:
              try:
                  with open(filename, 'r', encoding='utf-8', errors='ignore') as f:
                      content = f.read()
                      for pattern in secret_patterns:
                          if re.search(pattern, content):
                              print(f'Potential secret found in {filename}')
                              sys.exit(1)
              except Exception:
                  pass
          "
        language: system
        files: \.(go|yaml|yml|json|md|sh|env)$
        exclude: ^(examples/.*\.yaml)$

Add comprehensive API support and test coverage for Namecheap provider
  apis/v1beta1/domain_types.go
  apis/v1beta1/sslcertificate_types.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  cmd/provider/main.go
  go.mod
  internal/clients/namecheap/domains.go
  internal/clients/namecheap/domains_test.go
  internal/clients/namecheap/ssl.go
  internal/clients/namecheap/ssl_test.go
  internal/clients/namecheap/users.go
  internal/clients/namecheap/users_test.go
  internal/clients/namecheap/whoisguard.go
  internal/clients/namecheap/whoisguard_test.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
Due: go-generate, go-test, no-commit-secrets

docs: comprehensive README update to reflect v0.3.2 capabilities
  README.md
  apis/v1beta1/sslcertificate_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  package/crds/namecheap.m.crossplane.io_dnsrecords.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigs.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigusages.yaml
  package/crds/namecheap.m.crossplane.io_sslcertificates.yaml
Due: go-generate, go-test, no-commit-secrets

fix: add missing .gitmodules file for build submodule
  .gitmodules
Due: none

fix: properly configure build submodule for CI/CD
  .gitignore
  .gitmodules
Due: none

fix: replace non-existent gosec action with direct gosec installation
  .github/workflows/ci.yml
Due: no-commit-secrets

fix: remove problematic gosec action from security scan
  .github/workflows/ci.yml
Due: no-commit-secrets

fix: add security-events permission for CodeQL analysis
  .github/workflows/ci.yml
Due: no-commit-secrets

Update to controller-runtime v0.22.1 and latest dependencies
  go.mod
  go.sum
Due: none

Fix ProviderConfigUsage scheme registration and credential parsing
  apis/generate.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/providerconfig.yaml
  go.mod
  go.sum
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
  package/crds/namecheap.m.crossplane.io_dnsrecords.yaml
  package/crds/namecheap.m.crossplane.io_domains.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigs.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigusages.yaml
  package/crds/namecheap.m.crossplane.io_sslcertificates.yaml
Due: go-generate, go-test, no-commit-secrets

Fix staticcheck lint warnings for embedded ProviderConfigUsage fields
  apis/v1beta1/types.go
Due: go-generate, go-test, no-commit-secrets

Update HTTP requests to use GET method instead of POST
  Makefile
  README.md
  cmd/provider/main.go
  go.mod
  internal/clients/namecheap/client.go
  internal/clients/namecheap/domains_test.go
  internal/clients/namecheap/ssl_test.go
  internal/clients/namecheap/users_test.go
  internal/clients/namecheap/whoisguard_test.go
Due: go-generate, go-test, no-commit-secrets

fix: enable multiarch container image builds with Docker buildx
  .github/workflows/release.yml
  cluster/images/provider-namecheap/Makefile
Due: no-commit-secrets

fix: remove PLATFORMS override to enable proper multiarch builds
  .github/workflows/release.yml
Due: no-commit-secrets

fix: include k8s_tools.mk to define CROSSPLANE_CLI variable
  Makefile
Due: none

chore: update CI/CD workflows to Go 1.25.1 and latest templates
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: no-commit-secrets

fix: override TOOLS_HOST_DIR to resolve architecture mismatch
  Makefile
Due: none

fix: move TOOLS_HOST_DIR override before k8s_tools include
  Makefile
Due: none

fix: move TOOLS_HOST_DIR override before golang.mk include
  Makefile
Due: none

build: update submodule to use fix branch
  .gitmodules
Due: none

build: fix CROSSPLANE_CLI dependency in xpkg.build target
  .gitmodules
Due: none

fix: add CROSSPLANE_CLI dependency override for xpkg.build target
  Makefile
Due: none

fix: add docker.build target for CI compatibility
  Makefile
Due: none

feat: add production hardening and webhook support
  README.md
  docs/production-improvements.md
  docs/webhook-setup.md
  examples/production-hardening.yaml
  examples/provider.yaml
  go.mod
  go.sum
  internal/clients/namecheap/client.go
  internal/clients/namecheap/domains_test.go
  internal/clients/namecheap/ratelimit.go
  internal/clients/namecheap/retry.go
  internal/clients/namecheap/ssl_test.go
  internal/clients/namecheap/users_test.go
  internal/clients/namecheap/whoisguard_test.go
  internal/webhook/config.go
  internal/webhook/metrics.go
  internal/webhook/processors.go
  internal/webhook/server.go
  internal/webhook/server_test.go
Due: go-generate, go-test, no-commit-secrets

docs: update version references to v0.5.0
  README.md
  examples/production-hardening.yaml
  examples/provider.yaml
Due: no-commit-secrets

Fix logging initialization bug causing provider pod crashes
  cmd/provider/main.go
Due: go-generate, go-test, no-commit-secrets

fix: add BRANCH_NAME=master to release workflow to fix silent publish failures
  .github/workflows/release.yml
Due: no-commit-secrets

fix: Build local images first and tag for xpkg compatibility
  .github/workflows/release.yml
Due: no-commit-secrets

fix: Patch build system in CI to use registry image reference for xpkg
  .github/workflows/release.yml
Due: no-commit-secrets

fix: Separate image and xpkg publishing to ensure local image availability
  .github/workflows/release.yml
Due: no-commit-secrets

fix: Tag images for both platforms to enable multi-platform xpkg build
  .github/workflows/release.yml
Due: no-commit-secrets

fix: Build binaries and packages for both platforms explicitly
  .github/workflows/release.yml
Due: no-commit-secrets

fix: Update build submodule to use crossplane/build instead of non-existent rossigee/build
  .gitmodules
  CLAUDE.md
Due: no-commit-secrets

fix: Only create GitHub release on tag pushes, not manual workflow_dispatch
  .github/workflows/release.yml
Due: no-commit-secrets
