Repository rossigee/provider-namecheap: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, go-test, no-commit-secrets

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: detect-private-key
        exclude: ^(examples/.*\.yaml)$

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.61.0
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-vet-mod
      - id: go-mod-tidy

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore=DL3008, --ignore=DL3009]

  - repo: local
    hooks:
      - id: go-generate
        name: go generate
        entry: make generate
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: go test
        entry: make test
        language: system
        files: \.go$
        pass_filenames: false

      - id: no-commit-secrets
        name: Check for secrets
        entry: |
          python3 -c "
          import sys
          import re

          secret_patterns = [
              r'(?i)(password|passwd|pwd)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(api[_-]?key|apikey)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(secret[_-]?key|secretkey)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(access[_-]?token|accesstoken)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(auth[_-]?token|authtoken)\s*[=:]\s*[\"\']\w+[\"\']\s*',
              r'(?i)(namecheap[_-]?token|namecheap[_-]?key)\s*[=:]\s*[\"\']\w+[\"\']\s*',
          ]

          for filename in sys.argv[1:]:
              try:
                  with open(filename, 'r', encoding='utf-8', errors='ignore') as f:
                      content = f.read()
                      for pattern in secret_patterns:
                          if re.search(pattern, content):
                              print(f'Potential secret found in {filename}')
                              sys.exit(1)
              except Exception:
                  pass
          "
        language: system
        files: \.(go|yaml|yml|json|md|sh|env)$
        exclude: ^(examples/.*\.yaml)$

Add Dependabot dependency management with severity-based auto-merge
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
Due: no-commit-secrets

build: fix nil tracer panic in tests by initializing with no-op otel.Tracer("")
  internal/tracing/tracing.go
Due: go-generate, go-test, no-commit-secrets

build: fix govulncheck to handle unfixable vulns and prevent go.mod changes
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: no-commit-secrets

build: fix GOWORK to be a file path for govulncheck
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: no-commit-secrets

cluster/images/provider-namecheap: fix Dockerfile COPY path (bin/ not _output/bin/)
  cluster/images/provider-namecheap/Dockerfile
Due: none

build: update VERSION to v0.5.8
  VERSION
Due: none

ci: upgrade GitHub Actions to latest major versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: no-commit-secrets

Fix release-action to v1
  .github/workflows/release.yml
Due: no-commit-secrets

ci: fix invalid YAML in release.yml and align Go version to 1.26.5
  .github/workflows/release.yml
  .github/workflows/security.yml
  go.mod
Due: no-commit-secrets

build: update Go dependencies
  go.mod
  go.sum
Due: none

build: update VERSION to v0.5.9
  VERSION
Due: none

build: regenerate CRDs to match controller-tools v0.21.0
  apis/v1beta1/zz_generated.managedlist.go
  apis/v1beta1/zz_generated.pculist.go
  package/crds/namecheap.m.crossplane.io_dnsrecords.yaml
  package/crds/namecheap.m.crossplane.io_domains.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigs.yaml
  package/crds/namecheap.m.crossplane.io_providerconfigusages.yaml
  package/crds/namecheap.m.crossplane.io_sslcertificates.yaml
Due: go-generate, go-test, no-commit-secrets

build: update VERSION to v0.5.10
  VERSION
Due: none

ci: fix release workflow Docker build context path mismatch
  .github/workflows/release.yml
Due: no-commit-secrets

build: update VERSION to v0.5.11
  VERSION
Due: none

docs: rewrite README to standard structure
  README.md
Due: no-commit-secrets

fix: register DNSRecord and SSLCertificate in the scheme
  Makefile
  apis/v1beta1/groupversion_info.go
  go.mod
  go.sum
Due: go-generate, go-test, no-commit-secrets

chore: Go 1.26.6, update deps, add golangci-lint config, gofmt
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .golangci.yml
  apis/v1beta1/dnsrecord_types.go
  apis/v1beta1/domain_types.go
  apis/v1beta1/providerconfig_types.go
  apis/v1beta1/sslcertificate_types.go
  apis/v1beta1/types.go
  go.mod
  go.sum
  internal/controller/dnsrecord/dnsrecord.go
  internal/controller/domain/domain.go
  internal/controller/sslcertificate/sslcertificate.go
Due: go-generate, go-test, no-commit-secrets

chore: Go 1.26.6, update deps, gofmt
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Makefile
  apis/generate.go
  go.mod
  internal/clients/namecheap/client.go
  internal/clients/namecheap/dns.go
  internal/clients/namecheap/domains.go
  internal/clients/namecheap/domains_test.go
  internal/clients/namecheap/ratelimit.go
  internal/clients/namecheap/retry.go
  internal/clients/namecheap/ssl.go
  internal/clients/namecheap/ssl_test.go
  internal/clients/namecheap/users.go
  internal/clients/namecheap/users_test.go
  internal/clients/namecheap/whoisguard.go
  internal/clients/namecheap/whoisguard_test.go
  internal/tracing/tracing.go
  internal/webhook/config.go
  internal/webhook/processors.go
  internal/webhook/server.go
  internal/webhook/server_test.go
Due: go-generate, go-test, no-commit-secrets

chore: pin crossplane-runtime and crossplane/apis to rossigee fork branches
  go.mod
  go.sum
Due: none

ci: add auto-merge workflow for dependabot PRs (minor/patch + actions/docker)
  .github/workflows/auto-merge.yml
Due: no-commit-secrets

ci: standardize release workflow to use make publish
  .github/workflows/release.yml
Due: no-commit-secrets

ci: add build.init step to setup tools before publish
  .github/workflows/release.yml
Due: no-commit-secrets

ci: move build.init into publish step for proper tool initialization
  .github/workflows/release.yml
Due: no-commit-secrets

ci: remove docker/setup-buildx-action for better credential handling
  .github/workflows/release.yml
Due: no-commit-secrets

ci: manually install crossplane-cli instead of relying on build.init
  .github/workflows/release.yml
Due: no-commit-secrets

ci: upgrade to crossplane-cli v2.3.5
  .github/workflows/release.yml
Due: no-commit-secrets

ci: use correct crossplane-cli download URL from releases.crossplane.io
  .github/workflows/release.yml
Due: no-commit-secrets
