Repository rossigee/provider-namecheap: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-generate, go-test, no-commit-secrets

go-generate:
  name: go generate
  entry: make generate
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: make test
  language: system
  pass_filenames: false

no-commit-secrets:
  name: Check for secrets
  ...

chore: normalize CI/release workflows + xpkg publishing overrides (#10)
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Makefile
Due: no-commit-secrets

chore: add ghcr xpkg publishing override + img neutralization (normalization follow-up)
  Makefile
Due: none

fix(ci): remove nonexistent make docker.build from build-validation
  .github/workflows/ci.yml
  Makefile
Due: no-commit-secrets

fix(ci): remove nonexistent make docker.build from build-validation (#12)
  .github/workflows/ci.yml
  Makefile
Due: no-commit-secrets

chore(deps): bump Crossplane APIs fork (#13)
  go.mod
  go.sum
Due: none

chore: standardize release workflow and prepare for v0.7.5
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  README.md
  VERSION
  cluster/images/provider-namecheap/Makefile
  docs/webhook-setup.md
  examples/production-hardening.yaml
  examples/provider.yaml
  internal/version/version.go
  package/crossplane.yaml
  scripts/release.sh
Due: go-generate, go-test, no-commit-secrets

chore: apply standardized release workflow template (#14)
  .github/workflows/release.yml
Due: no-commit-secrets

fix: quote publish guard message in publish.artifacts
  Makefile
Due: none

fix: quote publish guard message in publish.artifacts (#15)
  Makefile
Due: none

Path conditions:
  go-generate: any of: \.go$
  go-test: any of: \.go$
  no-commit-secrets: any of: \.(go|yaml|yml|json|md|sh|env)$, but not: ^(examples/.*\.yaml)$
